/* Mobiili-tyylit */
@media only screen and (max-width: 955px) {
    /*
    Asetetaan elementit allekkain 100% leveydelle 
    */
    header,
    header > div.logo,
    header > nav,
    header nav a,
    section,
    main {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        clear: both;
        position: relative;
        padding: 0;
        margin: 0;
    }

    header nav a {
        padding: 5px 0;
    }

    .muodostuminenlistaborder {
        border-left: none;
        list-style-type: square;
    }
    

    header nav {
        text-align: center;
    }

    .v-center, .h-right {
        display: block;
        position: relative;
        transform: none;
    }

    .showcase {
        background-image: url('../img/mobilebanner.jpg');
        color: var(--teksti-vaalea);
        width: 100%;
        max-width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 1em;
        line-height: 1.7em;
    }

    .ingressi {
        font-size: 1em;
        font-style: italic;
        line-height: 1.2em;
    }
    
    .ingressi::first-letter {
        float: left;
        font-size: 3em;
        line-height: 1em;
        font-weight: bold;
        margin-right: 0.1em;
    }

    .ammattitaitovaatimukset {
        padding: 0;
    }
    
    .ammattitaitovaatimukset > li {
        list-style-type: none;
        padding-bottom: 20px;
    }
    
    .ammattitaitovaatimukset > li ul {
        border-left: none;
    }
    
    .ammattitaitovaatimukset > li ul {
        list-style-type: square;
    }

    .muodostuminenlistaborder > ul li {
        border-left: none;
    }

    .muodostuminenlistaborder {
        list-style-type: square;
    }
}

@media only screen and (min-width: 640px) {
    .showcase {
        background-image: url('../img/banner-5250180_1280\ \(1\).jpg');
        color: var(--teksti-vaalea);
        width: 100%;
        max-width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 1em;
        line-height: 1.7em;
    }
}

@media only screen and (min-width: 320px) {
    .tablefontti {
        font-size: 15px;
    }
}

@media only screen and (min-width: 375px) {
    .tablefontti {
        font-size: 20px;
    }
}

@media only screen and (min-width: 425px) {
    .tablefontti {
        font-size: 23px;
    }
}