@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --teksti: #333333;
    --tausta: #eeeeee;
    --teksti-vaalea: #dddddd;
    --bg-dark: #444444;
    --highlight: #2735b9;
}

* {
    box-sizing: border-box;
}

/* Yleiskäyttöisiä tyylejä */

/* Vertikaalista keskittämistä */
.v-center {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

/* Oikea reuna */
.h-right {
    position: absolute;
    right: 0;
}

/* Vasen reuna */
.h-left {
    position: absolute;
    left: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    padding: 10px;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: var(--highlight) solid 5px;
}

header nav a {
    display: inline-block;
    font-size: 1.5em;
    color: var(--teksti-vaalea);
    text-decoration: none;
    padding: 0.5em;
}

header nav a:hover {
    color: var(--teksti);
    background-color: var(--highlight);
}

.ingressi {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.6em;
}

.ingressi::first-letter {
    float: left;
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
    margin-right: 0.1em;
}

/* main-lohkon tyylit */
main {
    font-size: 1.5em;
    line-height: 1.4em;
    padding-top: 60px;
}

/* section-lohkon tyylit */
section {
    max-width: 900px;
    width: 70%;
    margin: 20px auto;
}

/* showcase */
.showcase {
    background-image: url('../img/network-5593606_1280.jpg');
    color: var(--teksti-vaalea);
    width: 100%;
    max-width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.7em;
}

.showcase > div {
    color: var(--teksti-vaalea);
    max-width: 50%;
    text-align: center;
    margin: 0 auto;

}

/* Footer tyylit */
footer {
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
}

/* Table tyylit*/ 
table {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* Ammattitaitovaatimukset */
.ammattitaitovaatimukset {
    padding: 0;
}

.ammattitaitovaatimukset > li {
    list-style-type: none;
    padding-bottom: 20px;
}

.ammattitaitovaatimukset > li ul {
    border-left: var(--highlight) solid 5px;
}

.ammattitaitovaatimukset > li ul {
    padding: 10;
    list-style-type: square;
}